<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Progress Central</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

  </head>

  <body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
      <div class="row">
        {{{body}}}
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          Copyright Progress Central
        </div>
        <div class="col-md-6 text-right">
          <small>© 2016</small>
        </div>
      </div>
    </div>

    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/plugins/validate/jquery.validate.min.js"></script>
    {{{_sections.javascript}}}
  </body>

</html>
